:root{
    --header-height: ;

    --primary-color: ;
    --primary-color-alt: ;
    --secondary-color: ;
    --secondary-color-alt: ;

    --white-color: #FFFFFF;
    --black-color: #000000;

    --body-color: ;
    --header-color: ;
    --text-color: ;

    --body-font: '', sans-serif;
    // --body-font-alt: '', sans-serif;

    --small-font-size: ;
    --primary-font-size: ;
    --primary-font-size-alt: ;
    --secondary-font-size: ;
    --secondary-font-size-alt: ;
    --big-font-size: ;
    --bigger-font-size: ;
    --biggest-font-size: ;

    --font-Regular: 400;
    --font-Medium: 500;
    --font-SemiBold: 600;
    --font-Semi: 700;

    --z-fixed: 100;
    --z-tool-tip: 10;
}